<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.delphy.timetask.mapper.DelphyMarketMapper" >
  <resultMap id="BaseResultMap" type="org.delphy.timetask.pojo.DelphyMarket" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="event_id" property="eventId" jdbcType="BIGINT" />
    <result column="end_time" property="endTime" jdbcType="BIGINT" />
    <result column="begin_time" property="beginTime" jdbcType="BIGINT" />
    <result column="oracle_id" property="oracleId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="loss_limit" property="lossLimit" jdbcType="DECIMAL" />
    <result column="right_option" property="rightOption" jdbcType="BIGINT" />
    <result column="clear_time" property="clearTime" jdbcType="BIGINT" />
    <result column="result_url" property="resultUrl" jdbcType="VARCHAR" />
    <result column="num_investor" property="numInvestor" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, event_id, end_time, begin_time, oracle_id, status, deposit, loss_limit, right_option, 
    clear_time, result_url, num_investor, create_time, update_time, creator_id, description, 
    title, image
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.delphy.timetask.pojo.DelphyMarketExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from delphy_market
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from delphy_market
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from delphy_market
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.delphy.timetask.pojo.DelphyMarketExample" >
    delete from delphy_market
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.delphy.timetask.pojo.DelphyMarket" >
    insert into delphy_market (id, event_id, end_time, 
      begin_time, oracle_id, status, 
      deposit, loss_limit, right_option, 
      clear_time, result_url, num_investor, 
      create_time, update_time, creator_id, 
      description, title, image
      )
    values (#{id,jdbcType=BIGINT}, #{eventId,jdbcType=BIGINT}, #{endTime,jdbcType=BIGINT}, 
      #{beginTime,jdbcType=BIGINT}, #{oracleId,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{deposit,jdbcType=DECIMAL}, #{lossLimit,jdbcType=DECIMAL}, #{rightOption,jdbcType=BIGINT}, 
      #{clearTime,jdbcType=BIGINT}, #{resultUrl,jdbcType=VARCHAR}, #{numInvestor,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{creatorId,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.delphy.timetask.pojo.DelphyMarket" >
    insert into delphy_market
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eventId != null" >
        event_id,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="oracleId != null" >
        oracle_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="deposit != null" >
        deposit,
      </if>
      <if test="lossLimit != null" >
        loss_limit,
      </if>
      <if test="rightOption != null" >
        right_option,
      </if>
      <if test="clearTime != null" >
        clear_time,
      </if>
      <if test="resultUrl != null" >
        result_url,
      </if>
      <if test="numInvestor != null" >
        num_investor,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="image != null" >
        image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="eventId != null" >
        #{eventId,jdbcType=BIGINT},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=BIGINT},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=BIGINT},
      </if>
      <if test="oracleId != null" >
        #{oracleId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="lossLimit != null" >
        #{lossLimit,jdbcType=DECIMAL},
      </if>
      <if test="rightOption != null" >
        #{rightOption,jdbcType=BIGINT},
      </if>
      <if test="clearTime != null" >
        #{clearTime,jdbcType=BIGINT},
      </if>
      <if test="resultUrl != null" >
        #{resultUrl,jdbcType=VARCHAR},
      </if>
      <if test="numInvestor != null" >
        #{numInvestor,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.delphy.timetask.pojo.DelphyMarketExample" resultType="java.lang.Integer" >
    select count(*) from delphy_market
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update delphy_market
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.eventId != null" >
        event_id = #{record.eventId,jdbcType=BIGINT},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=BIGINT},
      </if>
      <if test="record.beginTime != null" >
        begin_time = #{record.beginTime,jdbcType=BIGINT},
      </if>
      <if test="record.oracleId != null" >
        oracle_id = #{record.oracleId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.deposit != null" >
        deposit = #{record.deposit,jdbcType=DECIMAL},
      </if>
      <if test="record.lossLimit != null" >
        loss_limit = #{record.lossLimit,jdbcType=DECIMAL},
      </if>
      <if test="record.rightOption != null" >
        right_option = #{record.rightOption,jdbcType=BIGINT},
      </if>
      <if test="record.clearTime != null" >
        clear_time = #{record.clearTime,jdbcType=BIGINT},
      </if>
      <if test="record.resultUrl != null" >
        result_url = #{record.resultUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.numInvestor != null" >
        num_investor = #{record.numInvestor,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.creatorId != null" >
        creator_id = #{record.creatorId,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update delphy_market
    set id = #{record.id,jdbcType=BIGINT},
      event_id = #{record.eventId,jdbcType=BIGINT},
      end_time = #{record.endTime,jdbcType=BIGINT},
      begin_time = #{record.beginTime,jdbcType=BIGINT},
      oracle_id = #{record.oracleId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      deposit = #{record.deposit,jdbcType=DECIMAL},
      loss_limit = #{record.lossLimit,jdbcType=DECIMAL},
      right_option = #{record.rightOption,jdbcType=BIGINT},
      clear_time = #{record.clearTime,jdbcType=BIGINT},
      result_url = #{record.resultUrl,jdbcType=VARCHAR},
      num_investor = #{record.numInvestor,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      creator_id = #{record.creatorId,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.delphy.timetask.pojo.DelphyMarket" >
    update delphy_market
    <set >
      <if test="eventId != null" >
        event_id = #{eventId,jdbcType=BIGINT},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=BIGINT},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=BIGINT},
      </if>
      <if test="oracleId != null" >
        oracle_id = #{oracleId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="lossLimit != null" >
        loss_limit = #{lossLimit,jdbcType=DECIMAL},
      </if>
      <if test="rightOption != null" >
        right_option = #{rightOption,jdbcType=BIGINT},
      </if>
      <if test="clearTime != null" >
        clear_time = #{clearTime,jdbcType=BIGINT},
      </if>
      <if test="resultUrl != null" >
        result_url = #{resultUrl,jdbcType=VARCHAR},
      </if>
      <if test="numInvestor != null" >
        num_investor = #{numInvestor,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.delphy.timetask.pojo.DelphyMarket" >
    update delphy_market
    set event_id = #{eventId,jdbcType=BIGINT},
      end_time = #{endTime,jdbcType=BIGINT},
      begin_time = #{beginTime,jdbcType=BIGINT},
      oracle_id = #{oracleId,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      deposit = #{deposit,jdbcType=DECIMAL},
      loss_limit = #{lossLimit,jdbcType=DECIMAL},
      right_option = #{rightOption,jdbcType=BIGINT},
      clear_time = #{clearTime,jdbcType=BIGINT},
      result_url = #{resultUrl,jdbcType=VARCHAR},
      num_investor = #{numInvestor,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      creator_id = #{creatorId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>